<!DOCTYPE html>
<html>
  <head>
    <title>Coinfolio</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/finance.js"></script>
  </head>
  <body>
    <div ng-app="coinfolio">
      <div ng-controller="MainCtrl">
        <h1>coinfol.io</h1>
        <table>
          <tr>
            <td>BTC</td>
            <td><input type="number" ng-model="wallet.btc"></input></td>
            <td>@ {{usdTo.btc}} USD</td>
          </tr>
          <tr>
            <td>LTC</td>
            <td><input type="number" ng-model="wallet.ltc"></input></td>
            <td>@ {{usdTo.ltc}} USD</td>
          </tr>
        </table>
        <h3>Total Value: {{totalValue(wallet, usdTo)}} USD</h3>
      </div>
    </div>
  </body>
</html>
